<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bootstrap-5.0.0-alpha1-dist/css/bootstrap.css">
    <title>Vue-app-1</title>
</head>
<body>
  <div class="container">
    <div id="app">
      <div class="row navbar fixed-top" id="nav">
        <div class="col-1 marg"><h2>To do</h2></div>
        <div class="col-10"><input class="input-group border-light" id="inp" type="text" @keyup.enter="addTask" v-model="currentTask"></div>
     
      </div>
      <div class="main">
       
        <ul class="list-group">
          <h2>Задачи на неделю:</h2>
        <li 
        v-for='task in tasks'
        :class="{'strike': task.isCompleted}"
        >
          <div class="row">         
            <div class="col-8">
              <input 
              class="input-group border-light"
              type="text" 
              v-if="task.isEditing"
              @keyup.enter="editTask(task.text)"
              v-model="editValue"
              >
              
              <p
              class="list-group-item word-break"
              @click="watch = !watch" 
              @dblclick="task.isCompleted = !task.isCompleted"
              >
                  {{task.text}}
              </p>
              
            </div>
            <div class="col-2">
                <button class="btn btn-warning" @click='changeEditing(task.text)'>E</button>
                <button class="btn btn-danger" @click='removeTask(task.text)'>D</button>
            </div>
          </div>
        </li>
      </ul> 
      </div>
      
    </div>
  </div>
  


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
    <script src="bootstrap-5.0.0-alpha1-dist/js/bootstrap.js"></script>
</body>
</html>